# sphinx build directories
_build/

# dotfiles
.*
!.gitignore
# compiled python files
*.py[co]
# setup.py egg_info
*.egg-info
# emacs backup files
*~
# hg stuff
*.orig
status
# odoo filestore
openerp/filestore
# maintenance migration scripts
openerp/addons/base/maintenance

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
addons/dummy_theme/__init__.py
addons/dummy_theme/__openerp__.py
addons/dummy_theme/static/img/boy.jpg
addons/dummy_theme/static/img/girl.jpg
addons/dummy_theme/static/img/blocks/block_title.jpg
addons/dummy_theme/static/style/custom.css
addons/dummy_theme/static/style/custom.less
addons/dummy_theme/views/options.xml
addons/dummy_theme/views/pages.xml
addons/dummy_theme/views/snippets.xml
addons/stock/doc/stock.html
addons/web/static/lib/bootstrap/less/bootstrap.css
addons/web/static/lib/bootstrap/less/media.css
addons/web/static/lib/bootstrap/less/mixins.css
addons/web/static/lib/bootstrap/less/normalize.css
addons/web/static/lib/bootstrap/less/print.css
addons/web/static/lib/bootstrap/less/responsive-embed.css
addons/web/static/lib/bootstrap/less/theme.css
addons/web/static/lib/bootstrap/less/variables.css
addons/web/static/lib/bootstrap/less/mixins/alerts.css
addons/web/static/lib/bootstrap/less/mixins/background-variant.css
addons/web/static/lib/bootstrap/less/mixins/border-radius.css
addons/web/static/lib/bootstrap/less/mixins/buttons.css
addons/web/static/lib/bootstrap/less/mixins/center-block.css
addons/web/static/lib/bootstrap/less/mixins/clearfix.css
addons/web/static/lib/bootstrap/less/mixins/forms.css
addons/web/static/lib/bootstrap/less/mixins/gradients.css
addons/web/static/lib/bootstrap/less/mixins/grid-framework.css
addons/web/static/lib/bootstrap/less/mixins/grid.css
addons/web/static/lib/bootstrap/less/mixins/hide-text.css
addons/web/static/lib/bootstrap/less/mixins/image.css
addons/web/static/lib/bootstrap/less/mixins/labels.css
addons/web/static/lib/bootstrap/less/mixins/list-group.css
addons/web/static/lib/bootstrap/less/mixins/nav-divider.css
addons/web/static/lib/bootstrap/less/mixins/nav-vertical-align.css
addons/web/static/lib/bootstrap/less/mixins/opacity.css
addons/web/static/lib/bootstrap/less/mixins/pagination.css
addons/web/static/lib/bootstrap/less/mixins/panels.css
addons/web/static/lib/bootstrap/less/mixins/progress-bar.css
addons/web/static/lib/bootstrap/less/mixins/reset-filter.css
addons/web/static/lib/bootstrap/less/mixins/resize.css
addons/web/static/lib/bootstrap/less/mixins/responsive-visibility.css
addons/web/static/lib/bootstrap/less/mixins/size.css
addons/web/static/lib/bootstrap/less/mixins/tab-focus.css
addons/web/static/lib/bootstrap/less/mixins/table-row.css
addons/web/static/lib/bootstrap/less/mixins/text-emphasis.css
addons/web/static/lib/bootstrap/less/mixins/text-overflow.css
addons/web/static/lib/bootstrap/less/mixins/vendor-prefixes.css
doc/_themes/odoodoc/static/bootstrap/less/bootstrap.css
doc/_themes/odoodoc/static/bootstrap/less/media.css
doc/_themes/odoodoc/static/bootstrap/less/mixins.css
doc/_themes/odoodoc/static/bootstrap/less/normalize.css
doc/_themes/odoodoc/static/bootstrap/less/print.css
doc/_themes/odoodoc/static/bootstrap/less/responsive-embed.css
doc/_themes/odoodoc/static/bootstrap/less/theme.css
doc/_themes/odoodoc/static/bootstrap/less/variables.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/alerts.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/background-variant.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/border-radius.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/buttons.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/center-block.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/clearfix.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/forms.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/gradients.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/grid-framework.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/grid.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/hide-text.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/image.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/labels.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/list-group.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/nav-divider.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/nav-vertical-align.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/opacity.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/pagination.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/panels.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/progress-bar.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/reset-filter.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/resize.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/responsive-visibility.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/size.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/tab-focus.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/table-row.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/text-emphasis.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/text-overflow.css
doc/_themes/odoodoc/static/bootstrap/less/mixins/vendor-prefixes.css
openerp/cli/templates/theme/static/style/custom.css
